<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="forgot-container">
        <mat-card class="card">
            <div class="logo">
                <p style="color: #1a73e8;">F</p>
                <p style="color: #ea4335;">u</p>
                <p style="color: #fbbc05;">n</p>
                <p style="color: #1a73e8;">d</p>
                <p style="color: #34a853;">o</p>
                <p style="color: #ea4335;">o</p>
            </div>
            <mat-card-title class="title">Reset Password</mat-card-title>
            <mat-card-subtitle class="subtitle">Enter your new password</mat-card-subtitle>
            <div class="password-content">
                <mat-card-content>
                    <mat-form-field appearance="outline" style="width: 340px;">
                        <mat-label>New Password*</mat-label>
                        <input matInput placeholder="New Password*" formControlName="password">
                        <mat-hint style="margin-left: -10px;">Enter valid password</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 340px;">
                        <mat-label>Confirm Password*</mat-label>
                        <input matInput placeholder="Confirm Password*" formControlName="confirmPassword">
                        <mat-hint style="margin-left: -10px;">Enter valid password</mat-hint>
                    </mat-form-field>
                    <div class="new-account">
                        <button class="button4">Next</button>
                    </div>
                </mat-card-content>
            </div>
        </mat-card>
        <div class="footer-container">
            <button class="button5">English(United Kingdom)</button>
            <button class="button6">Help</button>
            <button class="button7">Privacy</button>
            <button class="button8">Terms</button>
        </div>
    </div>
</form>
