
<div class="icons-container">

    <div class="icons" fxLayout="row" fxLayoutGap="15px">

        <div class="buttons">
            <button class="btn-property">
                <img src="../../../assets/icon/bellicon.svg" alt="">
            </button>
        </div>

        <div class="buttons">
            <button class="btn-property">
                <img src="../../../assets/icon/addimg.svg" alt="">
            </button>
        </div>

        <div class="buttons">
            <button class="btn-property">
                <img src="../../../assets/icon/colourpallete.svg" alt="">
            </button>
        </div>

        <div class="buttons">
            <button class="btn-property"> 
                <img src="../../../assets/icon/img.svg" alt="">
            </button>
        </div>

        <div class="buttons">
            <button class="btn-property">
                <img src="../../../assets/icon/archive.svg" alt="">
            </button>
        </div>

        <div class="buttons">
            <button class="btn-property">
                <img src="../../../assets/icon/more.svg" alt="">
            </button>
        </div>

        <!-- <div>
            <button class="close-button">Close</button>
        </div> -->

    </div>



</div>