
<div class="icons-container">

    <div class="icons" fxLayout="row" fxLayoutGap="15px" *ngIf="!isTrashComponent">

        <div class="buttons">
            <button class="btn-property">
                <img src="../../../assets/icon/bellicon.svg" alt="">
            </button>
        </div>

        <div class="buttons">
            <button class="btn-property">
                <img src="../../../assets/icon/addimg.svg" alt="">
            </button>
        </div>

        <div class="buttons">
            <button class="btn-property">
                <img src="../../../assets/icon/colourpallete.svg" alt="">
            </button>
        </div>

        <div class="buttons">
            <button class="btn-property"> 
                <img src="../../../assets/icon/img.svg" alt="">
            </button>
        </div>

        <div class="buttons" *ngIf="!isArchive">
            <button class="btn-property" (click)='moveToArchive()'>
                <img src="../../../assets/icon/archive.svg" alt="">
            </button>
        </div>

        <div class="buttons" *ngIf="isArchive">
            <button class="buttons btn-property"  matTooltip="Restore">
               <img class="icons" src="../../../assets/icon/unarchive_black_24dp.svg" alt="">
            </button>
        </div>

        <div class="buttons">
            <button mat-button [matMenuTriggerFor]="menu" class="btn-property">
                <img src="../../../assets/icon/more.svg" alt="">
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="deleteNote()">Delete Note</button>  
                    <button mat-menu-item>Add label</button>  
                    <button mat-menu-item>Add drawing</button>
                    <button mat-menu-item>Make a copy</button>
                    <button mat-menu-item>Show checkboxes</button> 
                </mat-menu>
            </button>
        </div>

    </div>

    <div *ngIf="isTrashComponent"  fxLayout="row" >
        <button class="buttons btn-property" matTooltip="Delete forever" (click)="deleteForever()">
            <img class="icons" src="../../../assets/icon/crossdelete.svg" alt="">
        </button>

        <button class="buttons btn-property"  matTooltip="Restore">
            <img class="icons" src="../../../assets/icon/deletearrow.svg" alt="">
        </button>
    </div>

</div>