<div>
    <div>
        <p class="text">Collaborator</p>
        <mat-divider></mat-divider>
    </div>

    <div style="display: flex; align-items: center;">

        <div>
            <img src="../../../assets/icon/prem.png" alt="" class="image" height="36px" width="36px">
        </div>

        <div class="text1">
            <span>
                {{firstName}} {{lastName}} (owner) <br> {{email}}
            </span>
    </div>
</div>

    <div *ngFor="let collab of collaboratorlist" style="display: flex; align-items: center;">
        <div>
            <img src="../../../assets/icon/collaborator.svg" alt="" class="image1">
        </div>

        <div class="text1">
            <span>
                {{collab.firstName}} {{collab.lastName}} <br> {{collab.email}}
            </span>
        </div>
           
        <!-- <div>
            <button class="addColab">  
                <img src="../../../assets/icon/addCollab.svg" alt="" >
            </button>
        </div> -->

    </div>

    <div class="input-img1" fxLayoutGap="20px">
        <img src="../../../assets/icon/collaborator.svg" alt="" class="image1">
        <input type="text" class="input" placeholder="Person and email to share with" fxFlex="200px"
            (keyup)='searchList($event)' [matMenuTriggerFor]="menu" [(ngModel)]="collaboratorEmail">

        <mat-menu #menu="matMenu" >
            <div *ngFor="let user of userArray">
                <button mat-menu-item (click)='getSelectedEmail(user)'>{{user.email}}</button>
            </div>
        </mat-menu>

    </div>

    <div fxLayoutGap="40px" class="bottom" fxLayoutAlign="end">
        <button class="button" (click)="closeDialog()">Cancel</button>
        <button class="button" (click)="addCollaborator()" (click)="closeDialog()">Save</button>
    </div>
</div>