.image{
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.button{
    border: none;
    background-color: transparent;
}

.image1{
    border: 1px solid;
    padding: 8px 6px 8px 6px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}

.text{
    margin-left: 10px;
    margin-top: 10px;
}

.text1{
    margin-left: 19px;
}

.bottom{
   margin-top: 50px;
   padding-bottom: 15px;
   padding-right: 10px;
}

.input{
    border: none;
    outline: none;
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
}

.info1{
    margin-top: -30px;
    margin-left: -80px;
}

.addColab{
    left: 290px;
    position: relative;
    // border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}