.card{
    top: 6%;
    border: 1px solid black;
    position: absolute;
    width: 44%;
    height: 44px;
    left: 31%;
}

.text{
    font-size: 15px;
}

.button-icon{
    margin: 0px 10px;
    border: none;
    background-color: white;
}

.card1{
    top: 6%;
    border: 1px solid black;
    position: absolute;
    width: 44%;
    left: 31%;
}

.input-text{
    padding: 2px 2px;
    font-size: 15px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    width: 92%;
}

.input-text-2{
    padding: 2px 2px;
    font-size: 15px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    width: 92%;
}

.pin{
    border: none;
    background-color: white;
    position: absolute;
    top: 16px;
    right: 10px;
}

.button{
    top: 21%;
    position: absolute;
    right: 26%;
    background: none;
    border: none;
    font-size: 15px;
}
    












