@mixin flex-property {
    display: flex;
    justify-content: center;
}

@mixin footer-button-property {
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 12px;
    border: none;
}

.forgot-container{
    height: 0vh; 
}

.card{
    height: 450px;
    width: 400px;
    background-color: white;
    left: 450px;
    top: 100px;
    border: rgba(000, 0, 0, 0.2) solid 1px;
    border-radius: 10px;
    font-family: sans-serif;
}

.logo{
    @include flex-property();
    font-size: 20px;
    padding-top: 30px;
    margin-bottom: 15px;
}

.title{
    @include flex-property();
    font-size: 20px;
    margin-bottom: 20px;
}


.subtitle{
    @include flex-property();
    font-size: 16px;
    margin-bottom: 20px;
    color: black;
}

.email-content{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    margin-left: 35px;
}

.hint{
    margin-bottom: 1px;
    word-spacing: -1px;
}

.new-account{
    margin-bottom: 50px;
}

.button4{
    background-color: #1a73e8;
    color: white;
    margin: -62px 0 25px 258px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 24px 10px 24px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
}



    