<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="forgot-container">
        <mat-card class="card">
            <div class="logo">
                <p style="color: #1a73e8;">F</p>
                <p style="color: #ea4335;">u</p>
                <p style="color: #fbbc05;">n</p>
                <p style="color: #1a73e8;">d</p>
                <p style="color: #34a853;">o</p>
                <p style="color: #ea4335;">o</p>
            </div>
            <mat-card-title class="title">Find your password</mat-card-title>
            <mat-card-subtitle class="subtitle">Enter your phone number or recovery email</mat-card-subtitle>
            <div class="email-content">
                <mat-card-content>
                    <mat-form-field appearance="outline" style="width: 340px;">
                        <mat-label>Phone number or email</mat-label>
                        <input matInput placeholder="Phone number or email" formControlName="email" name="email" type="email">
                        <mat-hint style="margin-left: -10px;" *ngIf="submitted && f.email.errors">
                            <mat-hint *ngIf="f.email.errors.required" class="validation-alert">Enter valid phone number or email address</mat-hint>
                        </mat-hint>
                    </mat-form-field>
                    <div class="new-account">
                        <button class="button4">Next</button>
                    </div>
                </mat-card-content>
            </div>
        </mat-card>
        <div class="footer-container">
            <button class="button5">English(United Kingdom)</button>
            <button class="button6">Help</button>
            <button class="button7">Privacy</button>
            <button class="button8">Terms</button>
        </div>
    </div>
</form>





 

